/*************************************** OPTIONS */
/****************************************** Tabs */
.accordionPro {
    .slide > :first-child {

        /**
         * Tab icons
         */

        &.number:after {
            counter-increment: number;
            content: counter(number);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        &.disc:after {
            font-size: 1.4em;
            content: '\2022';
        }

        &.square:after {
            font-size: 1.4em;
            content: '\25AA';
        }

        &.chevron:after {
            font-size: 1.4em;
            content: '\203A';
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        &.custom:after {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .slide.selected {
        > :first-child.chevron:after {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }
}

.accordionPro.vertical {
    .slide {
        > :first-child {
            &.number:after, &.custom:after {
                -webkit-transform: rotate(0deg) !important;
                -moz-transform: rotate(0deg) !important;
                -o-transform: rotate(0deg) !important;
                transform: rotate(0deg) !important;
            }
        }
    }

    .slide.selected {
        > :first-child.chevron:after {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }

    &.bordered .slide > :first-child:after {
        top: 9px;
    }
}

/**************************************** Closed */
.accordionPro.closed {
    &.horizontal.ie8 {
        // overflow: hidden;
    }
}

/*************************************** Rounded */
.accordionPro.rounded {
    // overflow: hidden;

    /* fix for iOS */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

    &.scrollable {
        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
        }
    }

    &.basic, &.transparent {
        border-radius: 11px;
    }

    &.bordered {
        border-radius: 15px;

        > ol, .slide > * {
            border-radius: 6px;
        }
    }

    &.stitch {
        border-radius: 11px;

        > ol, .slide > * {
            border-radius: 6px;
        }
    }
}

/******************************************* RTL */
.accordionPro.rtl {
    text-align: right;

    .slide {
        > div {
            direction: rtl;
        }
    }

    &.horizontal {
        .slide {
            left: auto !important;

            > :first-child {
                -webkit-transform: translateX(100%) rotate(90deg);
                -webkit-transform-origin: left top;
                -moz-transform: translateX(100%) rotate(90deg);
                -moz-transform-origin: left top;
                -o-transform: translateX(100%) rotate(90deg);
                -o-transform-origin: left top;
                transform: translateX(100%) rotate(90deg);
                transform-origin: left top;
                left: auto;
                right: 0;
                text-align: left;
                direction: ltr;

                &:after {
                    left: auto;
                    right: 5px;
                }

                &.number:after, &.custom:after {
                    -webkit-transform: rotate(-90deg) !important;
                    -moz-transform: rotate(-90deg) !important;
                    -o-transform: rotate(-90deg) !important;
                    transform: rotate(-90deg) !important;
                }
            }
        }

        .slide.selected {
            > :first-child.chevron:after {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }

        &.stitch {
            .slide > :first-child:after {
                right: 0;
            }
        }

        &.ie8 {
            .slide {
                > :first-child {
                    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";

                    &:after {
                        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
                    }
                }
            }
        }
    }

    &.vertical {
        .slide {
            > :first-child {
                text-align: right;
                direction: rtl;

                &:after {
                    right: auto;
                    left: 5px;
                }
            }
        }

        .slide.selected {
            > :first-child.chevron:after {
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }

        &.bordered, &.stitch {
            .slide > :first-child:after {
                right: auto;
                left: 0;
            }
        }
    }
}

/************************* Vertical FitToContent */
.accordionPro.vertical.fitToContent {
    .slide {
        > div {
            height: auto;
        }
    }
}

/************************************ Scrollable */
.accordionPro.scrollable {
    .slide > div {
        overflow-y: auto;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
}

/********************************** Scale Images */
.accordionPro.scaleImages {
    .slide > div img { width: 100%; height: 100%; float: left }
}
