/*********************************** ORIENTATION */
/************************************ Horizontal */
.accordionPro.horizontal {

    /**
     * Core
     */

    .slide > :first-child {
        -webkit-transform: translateX(-100%) rotate(-90deg);
        -webkit-transform-origin: right top;
        -moz-transform: translateX(-100%) rotate(-90deg);
        -moz-transform-origin: right top;
        -o-transform: translateX(-100%) rotate(-90deg);
        -o-transform-origin: right top;
        transform: translateX(-100%) rotate(-90deg);
        transform-origin: right top;
    }

    &.ie8 {
        .slide {
            > :first-child {
                -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";

                &:after {
                    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
                }
            }
        }
    }
}

/************************************** Vertical */
.accordionPro.vertical {
    .slide {
        left: auto !important;

        > :first-child {
            text-align: left;
            direction: ltr;

            &:after {
                left: auto;
                right: 5px;
            }
        }
    }
}