/*********************************** ORIENTATION */
/************************************ Horizontal */
.accordionPro.horizontal {

    /**
     * Core
     */

    .slide > :first-child {
        -webkit-transform: translateX(-100%) rotate(-90deg);
        -webkit-transform-origin: right top;
        -moz-transform: translateX(-100%) rotate(-90deg);
        -moz-transform-origin: right top;
        -ms-transform: translateX(-100%) rotate(-90deg);
        -ms-transform-origin: right top;
        -o-transform: translateX(-100%) rotate(-90deg);
        -o-transform-origin: right top;
        transform: translateX(-100%) rotate(-90deg);
        transform-origin: right top;
    }

    &.ie8 {
        .slide {
            > :first-child {
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            }
        }
    }
}

/************************************** Vertical */
.accordionPro.vertical {
    .slide {
        left: auto !important;

        > :first-child {
            text-align: left;
            direction: ltr;
            -webkit-transform: translateX(0) rotate(0);
            -webkit-transform-origin: left top;
            -moz-transform: translateX(0) rotate(0);
            -moz-transform-origin: left top;
            -ms-transform: translateX(0) rotate(0);
            -ms-transform-origin: left top;
            -o-transform: translateX(0) rotate(0);
            -o-transform-origin: left top;
            transform: translateX(0) rotate(0);
            transform-origin: left top;

            &:after {
                left: auto;
                right: 5px;
            }
        }
    }
}