$white: #ffffff;
$silver: #c9d1d6;
$grey: #919898;
$charcoal: #4F4F4F;
$pink: #ca6d8c;
$red: #cd1f2f;
$orange: #da7613;
$yellow: #edbe00;
$green: #1D8435;
$teal: #16a085;
$light-blue: #59b5ed;
$blue: #286edb;
$dark-blue: #103978;

@import 'core';
@import 'orientation';
@import 'options';
@import 'themes';
@import 'colour-schemes';