.wrap { min-width: 800px }

.ap-left { float: left; clear: left; width: 100%; margin-right: -325px }
.ap-right { float: right; clear: right; width: 300px }

.ap-slides { margin: 0 325px 0 5px }
.ap-slide h3 { font-size: 14px; line-height: 18px; 
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times,serif; cursor: default }
.ap-slide .ap-controls { padding: 0 10px }
.ap-slide .ap-inner { padding: 10px }
.ap-slide .ap-inner label { display: inline-block; width: 75px }
.ap-slide .ap-inner .ap-slide-caption-enabled { margin-left: 10px; display: inline }
.ap-slides #ap-add { float: left }
.ap-slides .ap-remove { margin-top: 10px }
.ap-slides .ap-wait { margin: 4px 0 0 4px; display: none; height: 16px; width: 16px; background: url('wpspin_light.gif') no-repeat }
.ap-slides .ap-save { float: right; display: inline-block }

.ap-options { width: 285px; margin: 0 auto }
.ap-options .postbox { overflow: hidden }
.ap-options .accordionName label { display: inline-block; width: 60px }
.ap-options .accordionName input { margin: 0; width: 162px }
.ap-options .button-primary { float: left; margin: 10px 0 }
.ap-options label, 
.ap-options select { display: inline-block; width: 49% }
.ap-options input { width: 120px; margin-left: 129px }